<tr>
	<td><a href="http://10.1.1.246/production/tracking.php?action=load&ProductionID=<%= job.id %>"><%= job.title %></a></td>
	<td><%= job.stats['run_length'] %></td>
	<td></td>
	<td>QA</td>
	<td></td>
</tr>